<h1>Welcome, Friend of Dogs</h1>

<div class="play-container">
    <p>Do you have a dog? Do you need to find parks, vets, trainers, and pet stores near you?</p>
    <p class="emphasis">This app is for you!</p>
</div>

<div class="play-container">

    <div class="form-group">
        <label for="dog-number">How many dogs do you have?</label>
        <input id="dog number" type="number" min="0" [(ngModel)]="dogNumber" placeholder="0">
    </div>
    <div [ngSwitch]="dogNumber">
    
        <p *ngSwitchCase="0">I&rsquo;m sorry you don&rsquo;t have any dogs yet, let's find you <a href="#" routerLink="/map/pet-stores">Pet Store</a> or <a href="#" routerLink="/map/breeders">Breeder</a> nearby.</p>

        <p *ngSwitchCase="1">So you have yourself <span>{{dogNumber}}</span> dog. That's great! Maybe you need to find a <a href="#" routerLink="/map/trainers">Trainer</a>, <a href="#" routerLink="/map/vets">Vet</a>, or <a href="#" routerLink="/map/kennels">Kennel</a></p>

        <p *ngSwitchDefault>Wow! You own <span>{{dogNumber}}</span> dogs!! Amazing! Maybe you need to find a <a href="#" routerLink="/map/trainers">Trainer</a>, <a href="#" routerLink="/map/vets">Vet</a>, or <a href="#" routerLink="/map/kennels">Kennel</a></p>

    </div>
    <p>But maybe all you want to do is search for <a href="#" routerLink="/map/parks">dog parks near your house</a></p>

</div>